# Base URL used when generating links to your pages
# Set to the URL for your site
baseURL = "https://www.aazuspan.dev"

theme = 'hugo-bearblog'

# Basic metadata configuration for your blog.
title = "Signals & Pixels"
copyright = "Copyright © 2024, Aaron Zuspan."
languageCode = "en-US"
author = "Aaron Zuspan"

# Generate a nice robots.txt for SEO
enableRobotsTXT = true

# Generate "Bearblog"-like URLs !only!, see https://bearblog.dev/.
disableKinds = ["taxonomy"]
ignoreErrors = ["error-disable-taxonomy"]
[permalinks]
  blog = "/blog/:slug/"
  tags = "/tag/:slug"

[pagination]
  disableAliases = false
  pagerSize = 10
  path = 'page'

[params]
  # The "description" of your website. This is used in the meta data of your generated html.
  description = "A tech blog about programming, Python, and open-source geospatial software."

  # The path to your "favicon". This should be a square (at least 32px x 32px) png-file.
  # Hint: It's good practise to also put a "favicon.ico"-file into your "static"-folder.
  favicon = "favicon/favicon-32x32.png"

  # Another "title" :-). This one is used as the site_name on the Hugo's internal
  # opengraph structured data template.
  # See https://ogp.me/ and https://gohugo.io/templates/internal#open-graph.
  title = "Signals & Pixels"

  # This theme will, by default, inject a made-with-line at the bottom of the page.
  # You can turn it off, but we would really appreciate if you don’t :-).
  hideMadeWithLine = true

  # By default, this theme displays dates with a format like "02 Jan, 2006", but
  # you can customize it by setting the `dateFormat` param in your site's config
  # file. See [Hugo's Format function docs](https://gohugo.io/functions/format/)
  # for details. An example TOML config that uses [ISO
  # 8601](https://en.wikipedia.org/wiki/ISO_8601) format:
  dateFormat = "2006-01-02"

  math = true

  [params.utterances]
    repo = "aazuspan/aazuspan.github.io"

  [params.author]
    name = "Aaron Zuspan"
    email = "aa.zuspan@gmail.com"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[[module.imports]]
  path = "github.com/hugomods/utterances"