{{ define "main" }}
<content>
    <h1>Blog</h1>
    {{ if .Data.Singular }}
    <small>
        <div>
            Filtering <a href="{{ "blog" | relURL }}">all posts</a> with topic <b>{{ .Title }}</b>
        </div>
    </small>
    {{else}}
    <small>
        <div>
            <b>Filter by topic: </b>
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                <a href="/tag/{{ $name | urlize }}">{{ $name | humanize }}</a> {{ $taxonomy.Count }} ·
            {{end}}
        </div>
    </small>
    {{ end }}
    <hr>

    <ul class="blog-posts">
        {{ range .Pages }}
        {{- partial "blog_preview.html" . -}}
        {{ else }}
        <li>
            No posts yet
        </li>
        {{ end }}
    </ul>

</content>
{{ end }}