<span>
    <a class="social-icon" href="https://github.com/aazuspan"><img src="{{ (default "icons/github.svg" ) | relURL }}" alt="Github" width="26"></a>
    <a class="social-icon" href="https://twitter.com/aazuspan"><img src="{{ (default "icons/twitter.svg" ) | relURL }}" alt="Twitter" width="26"></a>
    <a class="social-icon" href="https://bsky.app/profile/aazuspan.bsky.social"><img src="{{ (default "icons/bluesky.svg" ) | relURL }}" alt="Bluesky" width="26"></a>
    <a class="social-icon" href="https://fosstodon.org/@aazuspan"><img src="{{ (default "icons/mastodon.svg" ) | relURL }}" alt="Mastodon" width="26"></a>
    <a class="social-icon" href="https://www.linkedin.com/in/aaron-zuspan-91b5261b4"><img src="{{ (default "icons/linkedin.svg" ) | relURL }}" alt="Linkedin" width="26"></a>
    <a class="social-icon" href="/index.xml"><img src="{{ (default "icons/rss.svg" ) | relURL }}" alt="RSS" width="26"></a>
</span>
