<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">

<style>
    body {
        font-family: 'Inconsolata', 'Courier New', Courier, monospace;
        margin: auto;
        padding: 20px;
        max-width: 720px;
        text-align: left;
        background-color: #fff;
        word-wrap: break-word;
        overflow-wrap: break-word;
        line-height: 1.5;
        color: #444;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
        color: #2b294d;
        margin-bottom: 0.1em;
        margin-top: 1em;
        font-weight: 700;
    }

    a {
        color: #3273dc;
        text-decoration: none;
    }

    .title {
        text-decoration: none;
        border: 0;
    }

    .title span {
        font-weight: 400;
    }

    nav a {
        margin-right: 10px;
    }

    textarea {
        width: 100%;
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }

    content {
        line-height: 1.6;
    }

    table {
        width: 100%;
    }

    img {
        max-width: 100%;
    }

    code {
        padding: 2px 5px;
        background-color: #f5f5f5;
        border-radius: 5px;
    } 

    pre code {
        color: #222;
        display: block;
        padding: 20px;
        font-size: 14px;
        overflow-x: auto;
        border: 1px solid #ddd;
    }

    div.highlight pre {
        background-color: initial;
        color: initial;
    }

    div.highlight code {
        background-color: unset;
        color: unset;
    }

    blockquote {
        border-left: 1px solid #999;
        color: #222;
        padding-left: 20px;
        font-style: italic;
    }

    .helptext {
        color: #777;
        font-size: small;
    }

    .errorlist {
        color: #eba613;
        font-size: small;
    }

    /* blog posts */
    ul.blog-posts {
        list-style-type: none;
        padding: unset;
    }

    ul.blog-posts li {
        display: flex;
        margin-bottom: 10px;
    }

    ul.blog-posts li span {
        flex: 0 0 130px;
    }

    ul.blog-posts li a:visited {
        color: #baa3eb;
    }

    a:hover {
        opacity: 0.7;
    }

    .social-icon {
        padding: 8px;
    }

    
    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    figcaption {
        font-size: small;
        opacity: 0.7;
        font-style: italic;
    }

    small {
        font-size: 15px;
    }
</style>