{{ $id := $.Ordinal }}
{{- $u := urls.Parse (.Get "src") -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
  {{- $src = .RelPermalink -}}
  {{- end -}}
{{- end -}}

<center>
  {{ with (.Get "title") -}}
  <h4>{{ . }}</h4>
  {{- end -}}
  <audio controls id="{{ $id }}" preload="auto">
    <source src="{{ $src }}">
    Your browser does not support the audio element.
  </audio>

  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
  <figcaption>
    {{ with (.Get "caption") -}}
    {{ . | markdownify }}
    {{- end -}}
  </figcaption>
  {{- end }}

</center>

{{ with .Get "volume" }}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var audio = document.getElementById("{{ $id }}");
    if (audio) {
      audio.volume = '{{ . }}';
    }
  });
</script>
{{ end }}