// @import "./colors.module.scss";

:global(body.dark) code.inline {
  // color: $textDark;
}

:global(body.light) code.inline {
  // color: $textLight;
}

.output {
  padding-left: 16px;
  overflow: auto;
  display: block;
}
