$background: rgb(255, 255, 255);
$accent: rgb(37, 178, 194);
$text: rgb(92, 92, 92);

// $background: rgb(46, 46, 46);
// $accent: rgb(233, 197, 130);
// $text: rgb(223, 221, 221);

:export {
  background: $background;
  accent: $accent;
  text: $text;
}
