$backgroundLight: rgb(255, 255, 255);
$accentLight: rgb(37, 178, 194);
$textLight: rgb(92, 92, 92);

$backgroundDark: rgb(46, 46, 46);
$accentDark: rgb(240, 224, 154);
$textDark: rgb(202, 197, 197);

:export {
  backgroundLight: $backgroundLight;
  accentLight: $accentLight;
  textLight: $textLight;

  backgroundDark: $backgroundDark;
  accentDark: $accentDark;
  textDark: $textDark;
}
