@import "./colors.module.scss";

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
}

iframe {
  width: 100%;
}

body.light {
  background-color: $backgroundLight;
  color: $textLight;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

body.dark {
  background-color: $backgroundDark;
  color: $textDark;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

a {
  text-decoration: none;
  color: $accentLight;
  transition: color 0.5s ease-in-out;
}

body.dark a {
  color: $accentDark;
}

a:hover {
  opacity: 0.7;
}

h1,
h2,
h3,
h4 {
  font-family: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

// Needed for blog posts that start with an image
small + center {
  padding-top: 1.2rem;
}

canvas {
  min-height: 50px;
  position: relative;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  border: 1px dashed;
}

small {
  color: rgb(128, 129, 120);
}

.math {
  overflow: auto;
}

code {
  font-size: 14px !important;
  font-family: Menlo, Monaco, "Courier New", monospace !important;
  transition: all 0.3s ease-in-out;
}

.linenumber {
  font-style: italic;
}

pre {
  margin: 0;
}

:root,
body {
  height: 100%;
}

// https://stackoverflow.com/questions/69281957/footer-in-next-js
#__next {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
}
