.theme-toggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 100;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: scale(2);
    transition: all 0.3s ease-in-out;
  }
  
  .theme-toggle:hover {
    transform: scale(2.5);
  }